<!DOCTYPE html>

<style>
    p{
        margin: 0 0 0;
    }
</style>
<head>
    <meta charset="UTF-8">
    <link href="__PUBLIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript">
    $(document).ready(function(){
    });

</script>
<body>
<div class="weui-panel__bd" style="padding: 10px">


    <div class="weui-form-preview">

        <div class="weui-form-preview__hd" style="padding: 8%;text-align: center">
            <img  style='width: 250px;height: 250px;'
                  src="{$Think.const.SHOW_URL}{$data.image}">


        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品</label>
                <span class="weui-form-preview__value">{$data.good_title}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">商品描述</label>
                <span class="weui-form-preview__value">{$data.good_desc}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">价格</label>
                <span class="weui-form-preview__value" style="color: brown">￥{$data.good_price}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">新旧程度</label>
                <span class="weui-form-preview__value" style="color: brown">{$data.good_degree}成新</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">卖家信息</label>
                <span class="weui-form-preview__value" style="color: brown">{$data.sell_desc}</span>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:linkWechat();">联系卖家</a>
            <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" onclick="javascript:linkSever();">联系客服</button>
        </div>
    </div>
        <ul class="weui-media-box__info" >
            <li class="weui-media-box__info__meta"></li>
            <li class="weui-media-box__info__meta "></li>
        </ul>
</div>

<style>
    a{

        margin: 0 auto;
    }
</style>

</body>
<script src="{$Think.const.JS_URL}jquery.qrcode.min.js"  type="text/javascript"></script>
<!-- body 最后 -->
<script>
    function linkSever(){
        console.log('asd');
        layer.open({
            type: 1,
            closeBtn: 0,
            skin: '#ADADAD', //没有背景色
            shadeClose: true,
            content:'<img   style="width: 200px;height: 200px" id="qrcode" src="{$Think.const.IMG_URL}gzh.jpg">\n',
            end: function () {
            }
        });
    }
    function linkWechat(){
        $.alert("");
    }
</script>
</html>