<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--<script src="{$Think.const.JS_URL}jquery.js"></script>-->
<!--<script src="{$Think.const.JS_URL}jquery-weui.min.js"></script>-->

<!--<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css">-->
<!--<script rel="stylesheet" src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>-->


<!--<link href="{$Think.const.CSS_URL}vendors.css" relative="stylesheet" />-->
<!---->
<!--<link rel="stylesheet" href="{$Think.const.CSS_URL}weui.min.css">-->
<!--<link rel="stylesheet" href="{$Think.const.CSS_URL}jquery-weui.min.css">-->
<!--<script src="{$Think.const.JS_URL}jquery-weui.js"></script>-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
<link rel="stylesheet" href="__PUBLIC__/js/layer/mobile/need/layer.css">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<title>二货市场</title>
<style>
    .page-title{
        background-color:#dfdfdf
    }
    .arrow-left.backpage {
        margin-top: 4px
    }
    .weui-btn.weui-btn_primary{
        position: fixed; /*or前面的是absolute就可以用*/
        bottom: 0px;
        margin-left: 11%;
        margin-bottom:  5%;

        width: 75%;
    }
    h1{
        padding-top:1%;
        font-size: 23px;
    }
    img{
        width: 66px;height: 80px;vertical-align: top
    }
    #price_sort{
        margin-top: -1%;
        font-size:10px!important;
        text-align: center;
        float: right;
    }
    .weui-panel__bd{
        margin-top: 10%;
    }
    .empty_warn{
        text-align: center;
        margin-top: 35%;
    }
    .weui-icon_msg-primary{
        font-size: 25px;
    }
    /*搜索栏覆盖*/
    .weui-search-bar__label{
        bottom: -2px!important;
    }
    .weui-navbar+.weui-tab__bd{
        padding-top: 12px!important;
    }
    /*分类图*/
    .result-box .result-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        padding-right: 10px;

        background-repeat: no-repeat;
        /*//属性设置是否及如何重复背景图像*/
        background-position: center;
        /*//背景位置居中*/
        background-size: cover;
        /*background-size的cover特定值会保持图像本身的宽高比例，将图片缩放到正好完全覆盖定义背景的区域。*/
        display: block;
        /*//变成块状，这个属性一定要加，要不然不显示。因为<i>标签不是块级元素*/
    }
    .result-box .result-fail{
        background-image:url("{$Think.const.IMG_URL}/category.png") ;
    }
/*备案号的问题，因为panl只占了100%而不是铺满屏幕*/
    .weui-tab__bd{
        height: auto;!important;
    }
</style>


<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
<!--<meta name="format-detection" content="telephone=no">-->


